:root {
	--main-bg-light-color: #CBBEB5;
	--main-bg-dark-color: #423F3B;
	--main-brand-color: #525266;
	--main-accent-color: #FF6666;
	--main-accent-color-light: #FFE5A9;
	--bg-cloud-color: #FAFAFA;
}

*,
*::before,
*::after {
	font-size: 16px;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
}

h1,
h2,
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 65px;
}

img {
	max-width: 100%;
	display: block;
}

/* Bootstrap Overrides */
.container {
	max-width: 1280px !important;
}

.hero {
	background-color: var(--bg-cloud-color);
}

.hero__content {
	padding: 150px 0;
}


.banner__button {
	border: 0;
	background-color: var(--main-accent-color);
	font-weight: 500;
}


.grow__content h3 {
	font-size: 40px;
}

.grow__content > span{
	padding-bottom: 0.5em;
	display: inline-block;
	margin-bottom: 2em;
	border-bottom: 2px solid var(--main-bg-dark-color);
	color: var(--main-accent-color);
}

.grow__content > p {
	margin-bottom: 2em;
}

.grow__inner-content {
	margin-top: 2em;
	
	display: flex;
	gap: 1em;
}

.grow__inner-content h4 {
	font-size: 25px;
	font-weight: 600;
}

.grow__inner-content .number span {
	width: 45px;
	height: 45px;

	display: inline-block;
	text-align: center;

	line-height: 45px;
	background-color: var(--main-accent-color-light);
	border-radius: 45px;
}

.funding {
	padding: 150px 0;
	background-color: var(--bg-cloud-color);
}

.btn__funding {
	
	display: inline-block;
	background-color: var(--main-accent-color);
	border: 0;
}

.testimonial {
	padding: 100px 0;
	position: relative;
}

.testimonial::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	background-color: var(--main-brand-color);
	z-index: -1;
}

.testimonial__container {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
	text-align: center;
}

.testimonial__container span {
	color: var(--main-accent-color);
	font-size: 20px;
}

.testimonial__container h2 {
	color: var(--bg-cloud-color);
	font-size: 35px;
	max-width: 650px;

	margin-top: 0.5em;
	margin-bottom: 2.5em;
}

.single-fun-fact {
	background-color: var(--main-accent-color-light);
	padding: 4em 2em;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;

}

.insurance-planning {
	padding: 150px 0;
}

.insurance-planning .insurance-planning__container {
	text-align: center;
	margin-bottom: 4em !important;
	max-width: 600px;
	margin: 0 auto;
}

.insurance-planning__container h3 {
	font-size: 40px;
}

.insurance-planning__container--left {
	padding: 10em 3em 3em 3em;

	
	border-radius: 20px;
}

.insurance-planning__container--left::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
    background: url("../img/business_working.jpg") no-repeat center/cover rgba(82,82,102, 0.2);
}

/* .insurance-planning__container--left span {
	margin-top: 2em;
} */

.insurance-planning__container--left h3 {
	font-size: 28px;
	z-index: -2;
}

.insurance-planning__container--right h3 {
	font-size: 18px;
}